.price {
  /* font-size: 1.6rem; */
  font-size: 1.1428571429em;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 0.5rem; */
  column-gap: 1rem;
}

.price > * {
  display: inline-block;
  vertical-align: top;
}

.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  text-align: right;
}

.price .price-item {
  display: inline-block;
  margin: 0;
  color: rgb(var(--color-base-accent-1));
  font-weight: 700;
}

.price__regular .price-item--regular {
  margin-right: 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .price {
    margin-bottom: 0;
  }
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-flex;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.price--center {
  display: initial;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.9);
  font-size: 1.3rem;
}

.unit-price {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}

.product-page-price .price--on-sale .price__sale--price-second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.product-page-price
  .price--on-sale
  .price__sale--price-second
  .compare-price-label {
  order: 1;
}
.product-page-price
  .price--on-sale
  .price__sale--price-second
  .price__compare-price {
  order: 2;
  margin-right: 0.55rem;
}
.product-page-price
  .price--on-sale
  .price__sale--price-second
  .price__compare-price
  .price-item--regular {
  font-size: 2rem;
}
.product-page-price
  .price--on-sale
  .price__sale--price-second
  .regular-price-label {
  order: 3;
}
.product-page-price
  .price--on-sale
  .price__sale--price-second
  .price-item--sale {
  order: 4;
}
.product-page-price
  .price--on-sale
  .price__sale--price-second
  .price-item--sale
  span.money {
  font-size: 1.7rem;
}
